



<div class="header">

  <app-nav></app-nav>

  
  

    <div class="container mt-5">
      <div>
        <img src="assets\Image\UNQT1.png" class="CompanyIcon" alt="">
      </div>
      <div >
        <h4 class="heading mt-5 mb-5">
          "Seamlessly Transforming Your World: Innovate, Connect, Thrive with Our Comprehensive IoT Services and Solutions!"
        </h4>
      </div>

      <div class="d-inline-flex gap-2">

        <button type="button" class="primeryButton d-inline-flex">
          <h5 class="heading2">About Us</h5>
          <i class="pi pi-arrow-right"  width="35" height="35"></i>
        </button>

        <button type="button" class="secondaryButton">
          <h5 class="heading2">Our Services</h5>
        </button>

      </div>

    </div>

    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
</div>