<div class="Mymodal">
    <div class="modalBody">
      <div class="row mb-3">
        <div class="col-6">
          <h4>Get Contact</h4>
        </div>
        <div class="col-6 cancelIcon">
            <i class="pi pi-times" style="font-size: 1.5rem; cursor: pointer;"></i>
        </div>
      </div>
      <div class="row mb-3">
        <input type="text" class="modalInput">
      </div>
      <div class="row">
        <div class="col-6 text-center">
            <button class="btn btn-info" style="width: 90%;">Get Contact</button>
        </div>
        <div class="col-6 text-center">
            <button class="btn btn-danger" style="width: 90%;">Cancel</button>
        </div>
      </div>
    </div>
  </div>