<div class="container frame">
    
    <div class="row">
        <div class="col-4 col">
            <div class="card">
                <img src="assets\Image\securityNew.png" class="cardImage" alt="">
                <div class="cardInfo">
                    <h5>Security</h5>
                    <hr>
                    <p>This is a very secure behbsite and i had cooked it, This is to inform you that
                        We are having a slight issue in making this websiate as i have no content given
                        to make this a fully accessoible web page
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4 col">
            <div class="card">
                <img src="assets\Image\IOTs.png" class="cardmiddleImage" alt="">
                <div class="cardInfo">
                    <h5>Smart Automation</h5>
                    <hr>
                    <p>This is a very secure behbsite and i had cooked it, This is to inform you that
                        We are having a slight issue in making this websiate as i have no content given
                        to make this a fully accessoible web page
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4 col">
            <div class="card">
                <img src="assets\Image\iotproject.png" class="cardsideImage" style="width: 350px;" alt="">
                <div class="cardInfo">
                    <h5>IoT services</h5>
                    <hr>
                    <p>This is a very secure behbsite and i had cooked it, This is to inform you that
                        We are having a slight issue in making this websiate as i have no content given
                        to make this a fully accessoible web page
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>