<section class="home">
    
    <div class="description">
      <h1 class="title">
        <span class="gradient-text">{{ ImageHeading }}</span><br> {{ ImageSlogan }}
      </h1>
      <p class="paragraph">
        {{
            ImageDescription
        }}
      </p>
    </div>
  
    <div class="users-color-container">
      <span 
        class="item" 
        style="--i: 1"></span>
      
      <span
        class="item"
        style="--i: 2"
        id="1"
        (click)="DisplayData($event)">
        <img
        src="assets\Image\SmartHomes.jpg"
        alt="" />
      </span>
      
      <span 
        class="item" 
        style="--i: 3"></span>


      <span
        class="item"
        style="--i: 4"
        id="2"
        (click)="DisplayData($event)">
        <img        
        src="assets\Image\Eye.jpg"
        alt="" />
      </span>


      <span
        class="item"
        style="--i: 10"
        id="3"
        (click)="DisplayData($event)">
        <img
        src="assets\Image\Metering1.jpg"
        alt="" />
      </span>


  

      <span 
        class="item" 
        style="--i: 11"></span>

      <span
        class="item"
        style="--i: 12"
        id="4"
        (click)="DisplayData($event)">
        <img
        src="assets\Image\VR2.jpg"
        alt="" />
      </span>


      <span 
        class="item" 
        style="--i: 5"></span>
  
      <span 
        class="item" 
        style="--i: 9"></span>

      <span
        class="item"
        style="--i: 8"
        id="5"
        (click)="DisplayData($event)">
        <img
        src="assets\Image\SmartHome1.jpg"
        alt="" />
      </span>

      <span 
        class="item" 
        style="--i: 7"></span>

      <span
        class="item"
        style="--i: 6"
        id="6"
        (click)="DisplayData($event)">
        <img
        src="assets\Image\AI.jpg"
        alt="" />
      </span>

    </div>
  </section>